<html>
  <head>
    <link rel="stylesheet" href="styles.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="header-nav">
      <nav class="navbar navb navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">BlogUI</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="index.html">Place</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="logger.html">Holder</a>
              </li>
            </ul>
          </div>
      </nav>
    </div>
    <div class="sidebar-left"></div>
    <div class="sub-header">
      <div class="button-container">
        <button type="button" class="btn btn-light post-button">New Post</button>
      </div>
      <div class="button-container">
        <button type="button" class="btn btn-light post-button">Order By</button>
      </div>
    </div>
    <div class="post-container">
      <div class="post-sub-container">
        <div class="post-object">
          <div class="post-image">
              <img class="image-css"src="w01.jpg" alt="w01">
          </div>
          <div class="post-text-brief">
            <div class="text-data">
              <div class="data-author">
                Mr. Author
              </div>
              <div class="data-date">
                1/13/2019
              </div>
            </div>
            <div class="text-brief">
              Prieview sample of text inside blog post.
            </div>
          </div>
        </div>
        <div class="post-object">
          <div class="post-image">
            <!-- <img src="w01.jpg" alt="w01"> -->
          </div>
          <div class="post-text-brief">
            <div class="text-data">
              <div class="data-author">
                Mr. Author
              </div>
              <div class="data-date">
                1/13/2019
              </div>
            </div>
            <div class="text-brief">
              Prieview sample of text inside blog post.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sidebar-right"></div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>    

  </body>
</html>