<html>
  <head>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
      crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../static/js/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="../static/js/jquery.fileupload.js"></script>
    <script type="text/javascript" src="../static/js/jquery.fileupload-process.js"></script>
    <script type="text/javascript" src="../static/js/jquery.fileupload-ui.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script>
      $(function () {
        GetPosts();
        $('#fileuploadCreate').fileupload({
          url: '/upload',
          dataType: 'json',
          add: function (e, data) {
            data.submit();
          },
          success: function (response, status) {
            var filePath = 'static/Uploads/' + response.filename;
            $('#imgUploadCreate').attr('src', filePath);  // preview image
            $('#filePathCreate').val(filePath);              // filepath for input -> createPost() call
          },
          error: function (error) {
            console.log(error);
          }
        });
        $('#fileuploadEdit').fileupload({
          url: '/upload',
          dataType: 'json',
          add: function (e, data) {
            data.submit();
          },
          success: function (response, status) {
            var filePath = 'static/Uploads/' + response.filename;
            $('#imgUploadEdit').attr('src', filePath);  // preview image
            $('#filePathEdit').val(filePath);              // filepath for input -> createPost() call
          },
          error: function (error) {
            console.log(error);
          }
        });
        $('#btnUpdate').click(function () {
          $.ajax({
            url: '/updatePost',
            data: {
              editTitle: $('#editTitle').val(),
              editDescription: $('#editDescription').val(),
              editId: localStorage.getItem('editId'),
              editFilePath: $('#imgUploadEdit').attr('src'),
              editIsPrivate: $('#chkPrivate').is(':checked') ? 1 : 0
            },
            type: 'POST',
            success: function (res) {
              $('#editModal').modal('hide');
              GetPosts();
            },
            error: function (error) {
              console.log(error);
            }
          });
        });
      });
        // will retrieve all user posts, fill in template, then display on page
      function GetPosts(){
        $.ajax({
          url: '/getPost',
          type: 'GET',
          success: function (res) {
            var postObj = JSON.parse(res);
            $('.post-sub-container').empty();
            $('#postTemplate').tmpl(postObj[0]).appendTo('.post-sub-container');
          },
          error: function (error) {
            console.log(error);
          }
        });
      };
      function Edit(elm) {
        localStorage.setItem('editId', $(elm).attr('data-id'));
        $.ajax({
          url: '/getPostById',
          data: { id: $(elm).attr('data-id') },
          type: 'POST',
          success: function (res) {
            var data = JSON.parse(res);
            $('#editTitle').val(data[0]['Title']);
            $('#editDescription').val(data[0]['Description']);
            $('#imgUploadEdit').attr('src', data[0]['FilePath']);
            if (data[0]['Private'] == "1") {
              $('#chkPrivate').attr('checked', true);
            }
            else if (data[0]['Private'] == "0"){
              $("#chkPrivate").attr("checked", false)
            }
            $('#editModal').modal();
          },
          error: function (error) {
            console.log(error);
          }
        });
      };
      function ConfirmDelete(elem) {
        localStorage.setItem('deleteId', $(elem).attr('data-id'));
        $('#deleteModal').modal();
      };
      function Delete() {
        $.ajax({
          url: '/deletePost',
          data: { id: localStorage.getItem('deleteId') },
          type: 'POST',
          success: function (res) {
            var result = JSON.parse(res);
            if (result.status == 'OK') {
              $('#deleteModal').modal('hide');
              GetPosts();
            }
            else {
              alert(result.status);
            }
          },
          error: function (error) {
            console.log(error);
          }
        });
      };
    </script>
  </head>
  <body>
    <div class="header-nav">
      <nav class="navbar navb navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="/">BlogUI</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/showFeed">Feed</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/showDashboard">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
              </li>
            </ul>
          </div>
      </nav>
    </div>
    <div class="sidebar-left"></div>
    <div class="sub-header">
      <div class="button-container">
        <button type="button" class="btn btn-light post-button" data-toggle="modal" data-target="#modalNewPost">New Post</button>
      </div>
    </div>
    <div class="post-container">
      <div class="dynamic-posts">
        <div class="post-sub-container">

        </div>
      </div>
    </div>
    <div class="sidebar-right"></div>

    <script id="postTemplate" type="text/x-jQuery-tmpl">
      <div class="post-object">
        <img class="image-css" src=${FilePath}>
        <div class="post-text-brief">
          <div class="text-metadata">
            <p class="metadata-title">${Title}</p> 
            <p class="metadata-info">- ${Date} </p>
            <a data-id=${Id} onclick="Edit(this)"><i class="far fa-edit"></i></a>
            <a data-id=${Id} onclick="ConfirmDelete(this)"><i class="far fa-trash-alt"></i></a>
          </div>
          <div class="text-preview">
            ${Description}...
          </div>
        </div>
      </div>
    </script>

    <div class="modal fade" id="modalNewPost" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">New Post</h5>
          </div>
          <div class="modal-body">
              <form role="form" method="post" action="/createPost">
                <div class="form-group">
                  <input type="text" name="inputTitleCreate" id="inputTitleCreate" placeholder="Title">
                </div>
                <div class="form-group">
                  <input type="text" name="inputDescriptionCreate" id="inputDescriptionCreate" placeholder="Description">
                </div>

                <div class="input-group">
                  <span class="input-group-btn">
                    <span class="btn btn-primary btn-file">
                      Browse&hellip; 
                      <input type="file" id="fileuploadCreate" name="file" multiple>
                    </span>
                  </span>
                  <div class="pull-right">
                    <img id="imgUploadCreate" style="width: 140px; height: 140px;" class="img-thumbnail">
                    <input type="hidden" name="filePathCreate"id="filePathCreate"></input>
                  </div>
                </div>
                
                <div class="form-group">
                  <input name="privateCreate" type="checkbox"> Mark as Private <i class="fas fa-unlock-alt" aria-hidden="true"></i>
                </div>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button id="" class="btn btn-primary" type="submit">Submit</button>
              </form>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title" id="editModalLabel">Update Post</h4>
          </div>
          <div class="modal-body">
            <form role="form">
              <div class="form-group">
                <label for="recipient-name" class="control-label">Title:</label>
                <input type="text" class="form-control" id="editTitle">
              </div>
              <div class="form-group">
                <label for="message-text" class="control-label">Description:</label>
                <textarea class="form-control" id="editDescription"></textarea>
              </div>
              <div class="form-group">
                <label for="txtPost">Photos</label>
                <div class="input-group">
                  <span class="input-group-btn">
                    <span class="btn btn-primary btn-file">
                      Browse&hellip; 
                      <input type="file" id="fileuploadEdit" name="file" multiple>
                    </span>
                  </span>
                  <div class="pull-right">
                    <img id="imgUploadEdit" style="width: 140px; height: 140px;" class="img-thumbnail">
                    <input type="hidden" name="filePathEdit" id="filePathEdit"></input>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Mark this as private and not visible to others.</label>
                <br />
                <input id="chkPrivate" name="private" type="checkbox"> Mark as Private 
                <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button id="btnUpdate" type="button" id="btnUpdate" class="btn btn-primary">Update</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header" style="text-align:center;">
            <h4 class="modal-title" id="deleteModalLabel">Confirm delete.</h4>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button onclick="Delete()" type="button" class="btn btn-primary">Delete</button>
          </div>
        </div>
      </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>    
  </body>
</html>