<html>
  <head>
    <title>BlogUI</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="../static/js/index.js"></script>
  </head>
  <body>
    <div class="header-nav">
      <nav class="navbar navb navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="/showHome">BlogUI</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="" data-toggle="modal" data-target="#modalSignin">Sign In</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="" data-toggle="modal" data-target="#modalRegister">Register</a>
              </li>
            </ul>
          </div>
      </nav>
    </div>
    <div class="sidebar-left"></div>
    <div class="sub-header">
    </div>
    <div class="post-container">
      add some big preview here
    </div>
    <div class="sidebar-right"></div>

    <div class="modal fade" id="modalSignin" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Sign In</h5>
          </div>
          <div class="modal-body">
              <form class="form-signin" action="/validateLogin" method="post">
                <input style="display: block;" type="text" name="inputUsername" id="inputUsername" placeholder="Username">
                <input type="password" name="inputPassword" id="inputPassword" placeholder="Password">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button id="" class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
              </form>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="modalRegister" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Registration</h5>
          </div>
          <div class="modal-body">
            <form class="form-signin" action="/register" method="post">
              <input style="display: block;" type="text" name="regUsername" id="regUsername" placeholder="Username">
              <input style="display: block;" type="text" name="regEmail" id="regEmail" placeholder="Email">
              <input type="password" name="regPassword" id="regPassword" placeholder="Password">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button id="" class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>    
  </body>
</html>