<!DOCTYPE html>
<html lang="en">

<head>
  <title>Python Flask Bucket List App</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="../static/js/jquery-1.11.2.js"></script>
</head>

<body>
  <div class="container">
    <div class="header">
      <nav>
        <ul class="nav nav-pills pull-right">
          <li role="presentation"><a href="/">Home</a></li>
          <li role="presentation"><a href="/showSignin">Sign In</a></li>
          <li role="presentation" class="active"><a href="/showSignUp">Sign Up</a></li>
        </ul>
      </nav>
      <h3 class="text-muted">Python Flask App</h3>
    </div>
    <div class="jumbotron">
      <h1>Bucket List App23</h1>
      <form class="form-signin" action="/register" method="post">
        <input type="name" name="regUsername" id="regUsername" class="form-control" placeholder="Username" required autofocus>
        <input type="email" name="regEmail" id="regEmail" class="form-control" placeholder="Email address" required
          autofocus>
        <input type="password" name="regPassword" id="regPassword" class="form-control" placeholder="Password"
          required>
        <button id="btnSignup" class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
      </form>
    </div>
  </div>
</body>

</html>