<!DOCTYPE html>
<html lang="en">

<head>
  <title>Sign In</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="../static/js/jquery-1.11.2.js"></script>
</head>

<body>
  <div class="container">
    <div class="header">
      <nav>
        <ul class="nav nav-pills pull-right">
          <li role="presentation"><a href="/">Home</a></li>
          <li role="presentation" class="active"><a href="/showSignin">Sign In</a></li>
          <li role="presentation"><a href="/showSignUp">Sign Up</a></li>
        </ul>
      </nav>
    </div>
    <div class="jumbotron">
      <form class="form-signin" action="/validateLogin" method="post">
        <input type="text" name="inputUsername" id="inputEmail" class="form-control" placeholder="Username" required
          autofocus>
        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password"
          required>
        <button id="btnLogin" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
    </div>
  </div>
</body>

</html>